part2/xml/quiz_question_option_type.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema 	targetNamespace="http://34.213.198.190/COMP466TMA2/part2/xml"
			elementFormDefault="qualified"
			xmlns:lms="http://34.213.198.190/COMP466TMA2/part2/xml"
			xmlns:xi="http://www.w3.org/2001/XInclude"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xmlmime="http://www.w3.org/2004/11/xmlmime">
	
		<xs:complexType name="quiz_question_option_type">
			<xs:sequence>
				<xs:element name="order" type="xs:integer" />
				<xs:element name="text" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	
</xs:schema>